# Demo Class DB

## Connecting to database

Install Magic Extension

In [ ]:
!pip install sqlalchemy ipython-sql

And load it

In [ ]:
%load_ext sql

Now we connect to DB

In [ ]:
%sql sqlite:///dataset/upa

See the list of tables

In [ ]:
%%sql 
SELECT name FROM sqlite_schema
WHERE type='table'
ORDER BY name;

Now let's have the schema available

![](dataset/schema.png)

## Select

### All rows/columns in a table

```sql 
select * from table 
```

Note: * means all columns

List all items present in table Ad

In [ ]:
%%sql

### Subset of rows

```sql 
select * from table where column = xxx 
```

Note: xxx may be an int or a string

List all items with price less then 60

In [ ]:
%%sql

### Subset of rows multiple conditions

select * from table where col1 = xxx and col2 > yyy

In [ ]:
%%sql

### Get a subset of columns: select col1, col2 from table

In [ ]:
%%sql

### Get a nice name to columns: select col1 as name from table

In [ ]:
%%sql

### Multiple conditions: select case when col1 > x then ‘X’ when col2 > y then ‘Y’ else ‘Z’ end

In [ ]:
%%sql

### Limit results: (depends on DBMS) select * from table limit 10

In [ ]:
%%sql

### Search for patterns: select * from table where col like ‘%x%’ (% is a wildcard)

In [ ]:
%%sql

## Sort

### Return query result in order: select col from table order by col asc

In [ ]:
%%sql

### Sort multiple fields: select * from table order by col1, col2

In [ ]:
%%sql

### Sort based on conditional logic

In [ ]:
%%sql

## Working with multiple tables

### Stacking two row sets: select col from table union all select col from table2

In [ ]:
%%sql

### Combine related rows: select colA, colB from tableA join tableB on tableA.key= tableB.key

In [ ]:
%%sql

### Find rows in common between two tables

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql