# Demo Class DB

## Connecting to database

Install Magic Extension

In [ ]:
!pip install SQLAlchemy==1.4.46
!pip install PyMySQL==1.0.2 # or whichever
!pip install ipython-sql==0.4.1

And load it

In [ ]:
%load_ext sql

Download the database

In [ ]:
!wget https://raw.githubusercontent.com/salvo-nicotra/masterupa/main/upa

Now we connect to DB

In [ ]:
%sql sqlite:///upa

Check if we are connected

In [ ]:
%sql

See the list of tables

In [ ]:
%%sql 
SELECT name FROM sqlite_master
WHERE type='table'
ORDER BY name;

Now let's have the schema available

![](https://raw.githubusercontent.com/salvo-nicotra/masterupa/main/schema.png)

## Select

### All rows/columns in a table

```sql 
select * from table 
```

Note: * means all columns

List all items present in table Ad

In [ ]:
%%sql

### Subset of rows

```sql 
select * from table where column = xxx 
```

Note: xxx may be an int or a string

List all items with price less then 60

In [ ]:
%%sql

### Subset of rows multiple conditions

```sql
select * from table where col1 = xxx and col2 > yyy
```

List all items with price between then 30 and 100

In [ ]:
%%sql

### Get a subset of columns

```sql 
select col1, col2 from table
```

List title and body from News table

In [ ]:
%%sql

### Get a nice name to columns

```sql 
select col1 as name from table
```

List title and body from News table and rename them respectively with Titolo and Contenuto

In [ ]:
%%sql

### Multiple conditions

```sql
select 
case 
    when col1 > x then ‘X’ 
    when col2 > y then ‘Y’ 
    else ‘Z’
end
```

Classify the items in Item table according to price ranges
- less than 10 as Cheap
- between 10 and 9999 Affordable
- Expensive otherwise

In [ ]:
%%sql

### Limit results

```sql 
select * from table limit 10
```

Note: Limit is not supported by all DBMS

Get the first 10 elements in the News table

In [ ]:
%%sql

### Search for patterns

```sql
select * from table where col like ‘%x%’ 
```

Note: % is a wildcard

Get all writers in Writer table with name starting with C

In [ ]:
%%sql

## Sort

### Return query result in order

```sql 
select col from table order by col asc
```

Get the list of Item order by iId

In [ ]:
%%sql

### Sort multiple fields

```sql
select * from table order by col1, col2
```

Get the list of interaction in Interact table order by cookieid, info, basket, buy

In [ ]:
%%sql

### Sort based on conditional logic

```sql
select * from table order by case when ... end
```

Order the items in the Item table
- by description for price less then 100
- by producer otherwise

In [ ]:
%%sql

## Working with multiple tables

### Stacking two row sets

```sql
select col from table union all select col from table2
```

Get all names from tables User and Writer

In [ ]:
%%sql

### Combine related rows

```sql
select colA, colB 
from tableA 
join tableB on tableA.key=tableB.key
```

Get all News and Author details

In [ ]:
%%sql

### Find rows in common between two tables

```sql
select col from tableA
INTERSECT 
select col from tableB
```

Find cookieId that have interacted and clicked

In [ ]:
%%sql

### Find rows from one table that don’t exits in the other

```sql
select col from tableA
EXCEPT 
select col from tableB
```

Find cookieId that have interacted but not clicked

In [ ]:
%%sql

### Find rows from one table that don’t match with another

```sql
select colA, colB 
from tableA 
left join tableB on tableA.key=tableB.key
where 
tableB.key is null
```

Get the list of News and correspondent cookieId that haven't yet read them

In [22]:
%%sql

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

## Aggregation and Grouping

### Calculate average of a column

```sql
select avg(col) from table
```

### Getting min, max from a column in a group

```sql
select min(col), max(col) from table group by key
```

Get the minimum and maximum price of items for each producer

In [ ]:
%%sql

### Sum and Count columns

```sql
select sum(col),count(*) from table
```

For each cookie, get the total and average spent and the total number of items buyed

In [ ]:
%%sql